<h1>Recipe Website Homepage</h1>
<p>
	What would you like to do?
</p>
Create new recipe or user here:
<ul>
	<li><a href="user_signup">Create a user</a></li>
	<li><a href="recipe_submit">Submit a recipe</a></li>
</ul>
<b>Recipes</b>
<br><br>
Search for recipes here:
<ul>
	<li><a href="recipe_search">Search for a recipe</a></li>
</ul>
Grab a exact recipe by ID here:
<ul>
	<li><a href="recipe_get">Grab a recipe by ID</a></li>
</ul>
Update a recipe here:
<ul>
	<li><a href="recipe_update">Update a recipe by ID</a></li>
</ul>
Add tags to recipes here:
<ul>
	<li><a href="recipe_tag">Tag a recipe by ID</a></li>
</ul>
<b>User stuff</b><br>
<ul>
	<li><a href="user_login">Log in here</a></li>
</ul>
<br>Everything here requires being logged in!
<br><br>
Create a shopping list here:
<ul>
	<li><a href="user_shoppinglist">Create a shopping list</a></li>
</ul>
Add a note on a recipe as a user here:
<ul>
	<li><a href="user_addnote">Add a note as User</a></li>
</ul>
Add a comment to a recipe here:
<ul>
	<li><a href="recipe_comment">Add a comment to a recipe as User</a></li>
</ul>