<h1>Recipe update</h1>
<p>
	Update a recipe below!
</p>
<form action="/recipe_update" method="post">
  RecipeID:<br>
  <input type="text" name="recipeID" value=""><br>
  Recipe Name:<br>
  <input type="text" name="recipeName" value=""><br>
  Author:<br>
  <input type="text" name="author" value=""><br>
  Instructions:<br>
  <input type="text" name="instructions" value=""><br>
  Food (comma separated):<br>
  <input type="text" name="food" value=""><br>  
  <br><br>
  <input type="submit" value="Submit">
</form>